@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --base-clr: #CBD5E1;
    --container-clr: #F8FAFC;
    --line-clr: #93C5FD;
    --hover-clr: #2563EB;
    --bg-clr: #1E3A8A;
    --text-clr: #FFFFFF;
    --accent-clr: #1E3A8A;
    --secondary-text-clr: #334155;
}

html {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-size: 0.85em;
    line-height: 1.5rem;
    height: 100%;
}

body {
    height: 100%;
    min-height: 100dvh;
    grid-template-columns: auto 1fr;
    overflow: hidden !important;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.main-content {
    margin-top: 60px;
    padding-right: min(30px, 7%);
    padding-left: min(30px, 7%);
    padding-top: min(80px, 7%);
    padding-bottom: min(30px, 7%);

    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    height: 94vh;
    width: 100%;
    overflow-x: auto !important;
}

.main-content p {
    margin-top: 5px;
    margin-bottom: 15px;
}

.main-content::-webkit-scrollbar {
    width: 8px;
}

.main-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-clr);
}

/** Reposiciona la ubicación del "procesando" del datatable */
div.dt-processing {
    top: 35% !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    position: fixed !important;
    left: 44.5% !important;
}

.control-label.required::after {
    content: " *" !important;
    color: red !important;
}

.btn {
    min-width: 50px !important;
}

.btn,
.btn-sm {
    margin: 3px;
    font-size: 11pt !important;
}

.btn-sys {
    background-color: var(--bg-clr);
    color: var(--text-clr);
    border-color: #e0e3e3;
}

.btn-sys:hover {
    background-color: var(--hover-clr);
    color: rgb(223, 223, 223);
    border-color: var(--line-clr);
}

.btn-sys:focus {
    background-color: var(--accent-clr);
    color: var(--text-clr);
    border-color: var(--line-clr);
}

.disabled-input {
    background-color: rgb(223, 223, 223)
}

.disabled-input:focus {
    background-color: rgb(223, 223, 223);
    border: none !important;
}

.inputCurrency {
    text-align: right;
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #000000;
    background-color: var(--bg-clr);
}

.collapse-item a {
    color: #ccc;
}

.collapse-item a:hover {
    color: #fff;
}

.bi {
    font-size: 20px;
}

.sidebar .nav-link.active {
    background-color: #17a2b8;
    color: #fff;
}

.btn-rounded {
    border-radius: 20px;
}

.modal-body {
    max-height: 70vh;
    max-width: 90vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-body.xl {
    height: 70vh;
}

.modal-body-scroll::-webkit-scrollbar {
    width: 8px;
}

.modal-body-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-clr);
}

.select2 {
    width: 100% !important;
}

@media screen and (max-width: 700px) {

    .btn,
    .btn-sm {
        margin: 0px !important;
        font-size: 9pt !important;
    }

    .email-navbar {
        display: none;
    }

    .icono-navbar {
        display: none;
    }

    .btn-email-navbar {
        margin-right: 6rem !important;
    }

    .card {
        width: 300px !important;
        max-width: 100% !important;
        overflow: auto !important;
        white-space: nowrap !important;

    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-8 {
        width: 100% !important;
    }
}

.no-border-input {
    border: none;
    background: transparent;
}

.transparent-icon {
    color: transparent !important;
}

.toast-confirm-button {
    background-color: transparent !important;
    font-weight: normal !important;
    font-size: 0.9em !important;
}