@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'Roboto';
  src: url('/public/font/roboto/Roboto-Regular.ttf') format('ttf'),
    url('/public/font/roboto/Roboto-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

nextjs-portal {
  position: absolute;
}

:root {
  --base-clr: #CBD5E1;
  --container-clr: #F8FAFC;
  --line-clr: #93C5FD;
  --hover-clr: #2563EB;
  --bg-clr: #1E3A8A;
  --bg-clr-secondary: #e1e2e4;
  --text-clr: #FFFFFF;
  --accent-clr: #1E3A8A;
  --secondary-text-clr: #334155;
}

html {
  font-family: 'Roboto', Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  line-height: 1.5rem;
}

.control-label.required::after {
  content: " *" !important;
  color: red !important;
}